.header {
  height: 50px;
}

.header__logo,
.search {
  width: 132px;
}

.menu {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.menu__item {
  margin: 0 6px;
  font-size: 13px;
  text-transform: uppercase;
}

.grid {
  display: flex;
}

.grid--spaced {
  justify-content: space-between;
}

.grid--center {
  align-items: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
